@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';

@import 'header';
@import 'main';
@import 'footer';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  display: flex;
  flex-direction: column;

}


header {
  color: #fff; /* Example header text color */
  padding: 10px;
  flex-shrink: 0; /* Prevent header from shrinking */
}

footer {
  color: #fff; /* Example footer text color */
  padding: 10px;
  flex-shrink: 0; /* Prevent footer from shrinking */
}


.main-content {
  position: relative;
  max-width: 3xl;
  margin: auto;
}
