@font-face {
  font-family: 'Readex Pro';
  src: url('../fonts/ReadexPro-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Antonio';
  src: url('https://assets.williamsawyerr.net/fonts/Antonio.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Big Shoulders';
  src: url('https://assets.williamsawyerr.net/fonts/Big Shoulders.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Gabarito';
  src: url('https://assets.williamsawyerr.net/fonts/Gabarito.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Inter';
  src: url('https://assets.williamsawyerr.net/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'League Gothic';
  src: url('https://assets.williamsawyerr.net/fonts/League Gothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Manjari';
  src: url('https://assets.williamsawyerr.net/fonts/Manjari.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('https://assets.williamsawyerr.net/fonts/Noto Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Red Hat';
  src: url('https://assets.williamsawyerr.net/fonts/Red Hat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Sintony';
  src: url('https://assets.williamsawyerr.net/fonts/Sintony.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Urbanist';
  src: url('https://assets.williamsawyerr.net/fonts/Urbanist.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Wix';
  src: url('https://assets.williamsawyerr.net/fonts/Wix.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
