.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .slide img {
  max-width: 100%;
  max-height: 500px;
  object-fit: cover; /* Ensures the image covers the container without stretching */
}

.carousel .control-dots .dot {
  background: #FF856B !important; /* Customize the dots color */
}
