@import 'variables';

// Base Styles (Mobile First)
// Default styles that apply to all devices, especially mobile.

.homepage-hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 0; /* Smaller padding for mobile */
  background-image: url('/images/page-heroes/homepage.jpg');
  background-size: cover;
  background-position: center;
  min-height: 60vh; /* Default height, adjusted for mobile */

  .container {
    position: relative;
    z-index: 2;
    padding: 0 1rem; /* Padding inside the container for mobile */
  }

  h1 {
    color: black; /* Ensure h1 text is black */
    font-size: 2rem; /* Smaller font size for mobile */
    margin-bottom: 1rem;
  }

  p {
    color: inherit; /* Use the inherited color for paragraphs */
    max-width: 20rem; /* Narrower max-width for mobile */
    margin-bottom: 1rem; /* Adjust spacing between paragraphs */
  }

  .btn-outline {
    display: inline-block;
    border: 3px solid #131313;
    color: #131313;
    padding: 0.5rem 1rem; /* Slightly smaller padding for mobile */
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effect */
    border-radius: 0;
  }
}

// Medium Devices and up (768px and up)
@media only screen and (min-width: 768px) {
  .homepage-hero {
    min-height: 70vh; /* Increase height for larger screens */
    padding: 5rem 0; /* Increase padding for larger screens */

    h1 {
      font-size: 3rem; /* Larger font size for h1 on larger screens */
    }

    p {
      max-width: 40rem; /* Increase max-width for larger screens */
      margin-bottom: 1.5rem; /* Adjust spacing for larger screens */
    }

    .btn-outline {
      padding: 0.75rem 1.5rem; /* Larger padding for buttons on larger screens */
      
      &:hover {
        color: #ff856b; /* Change text color on hover */
        background-color: transparent; /* No background fill on hover */
      }
    }
  }
}

// Large Devices and up (992px and up)
@media only screen and (min-width: 992px) {
  .homepage-hero {
    min-height: 80vh; /* Further increase height for even larger screens */
  }
}

// Extra Large Devices and up (1200px and up)
@media only screen and (min-width: 1200px) {
  // Styles for extra large devices (e.g., large desktops) and up
}

// Extra Extra Large Devices (1400px and up)
@media only screen and (min-width: 1400px) {
  // Styles for extra extra large devices (e.g., ultra-wide screens) and up
}
