@import 'variables';

// Base Styles (Mobile First)
.navbar {
  height: $navbar-height;

  .logo {
    display: flex;
    align-items: center;
    height: 100%;

    img {
      height: auto;
      width: auto;
      max-height: 100%;
    }
  }

  .burger-menu {
    cursor: pointer;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 20;
    transition: all 0.3s ease;
    display: none;
    padding: 2px; // 2px padding for mobile dropdown

    &.block {
      display: block;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      li {
        width: 100%;
        text-align: left;

        &:hover {
          color: #ff856b;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    .menu {
      position: relative;
      top: auto;
      left: auto;
      width: auto;
      background-color: transparent;
      z-index: auto;
      display: block;
      padding: 0; // Remove padding on desktop

      ul {
        flex-direction: row;
        justify-content: flex-end;
        gap: 2rem;

        li {
          width: auto;
        }
      }
    }
  }
}
