/* Base Styles (Mobile First) */
.three-d-hero {
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: url('/images/page-heroes/3d-modelling.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .three-d-hero-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.5rem;
    border-radius: 0.5rem;
  }

  h1 {
    color: white;
    font-size: 2rem;
  }
}

.decorative-line {
  width: 50px;
  height: 5px;
  background-color: #ff856b;
  margin: 10px auto 20px auto;
}

.image-text-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.image-side {
  width: 100%;
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.text-side {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-content {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  position: relative;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }

  @media (min-width: 992px) {
    font-size: 3rem;
  }
}

p {
  font-size: 1rem;
  color: #555555;
  margin-top: 1rem;

  @media (min-width: 768px) {
    font-size: 1.125rem;
  }

  @media (min-width: 992px) {
    font-size: 1.25rem;
  }
}

.btn-outline {
  display: inline-block;
  border: 2px solid #131313;
  color: #131313;
  padding: 0.75rem 1.5rem;
  text-align: center;
  transition: color 0.3s ease;
  border-radius: 0;

  &:hover {
    color: #ff856b;
  }
}

/* Large Devices and up (992px and up) */
@media only screen and (min-width: 992px) {
  .full-width-section {
    padding: 4rem 0;
  }

  h1 {
    font-size: 4rem;
  }
}

/* Extra Large Devices and up (1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 4.5rem;
  }
}

/* Extra Extra Large Devices and up (1400px and up) */
@media only screen and (min-width: 1400px) {
  h1 {
    font-size: 5rem;
  }
}


@media (min-width: 768px) {
  .three-d-hero {
    height: 60vh;
  }
}

@media (min-width: 992px) {
  .three-d-hero {
    height: 70vh;
  }
}
